/* Nền và font chính */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background: url("../img/tien.png") 10% no-repeat, #1c2033;;    

}

/* Container chính */
.container {
    text-align: center;
    margin-top: 10%;
}

h1 {
    font-size: 2.5rem;
    color: #c0ad00;
    text-shadow: 2px 2px 4px #ff0000;
}

/* Danh sách chọn vai trò */
label {
    font-size: 1.2rem;
    margin-right: 10px;
}

#role {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Nút nhận lời chúc */
#wishBtn {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #d32f2f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#wishBtn:hover {
    background-color: #b71c1c;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}


/* Popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/tien.png") center/70% no-repeat, #e7d57c;;    
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: #fff;
    z-index: 20; /* Đảm bảo popup nằm trên overlay */
    pointer-events: auto; /* Bật tương tác cho popup */
}
.popup p {
    font-size: 1.3rem;
    margin: 20px 0;
    color: #ff7b00;
}

.popup.hidden {
    display: none;
}

/* Nút đóng popup */
.popup button#closePopup {
    margin-top: 15px;
    background-color: #fff;
    color: #ff5722;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.popup button#closePopup:hover {
    background-color: #ffccbc;
}

/* Ảnh phong bì đỏ */
.red-envelope {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

/* Nút đóng popup */
#closePopup {
    padding: 10px 20px;
    background-color: #ffeb3b;
    color: #d32f2f;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

#closePopup:hover {
    background-color: #ffc107;
    transform: scale(1.1);
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Làm tối màn hình */
    z-index: 10; /* Lớp phủ phía dưới popup */
    pointer-events: none; /* Không chặn tương tác của các phần tử bên trên */
}
.overlay.hidden {
    display: none;
}
.popup img.role-image {
    width: 150px;
    height: auto;
    margin-bottom: 15px;
}
