.games-table-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff9800;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto; /* Căn giữa bảng trên trang */
    max-width: 45em;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #ff9800;
    color: white;
    font-size: 1.2rem;
}

td {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #388e3c;
    font-weight: bold;
}

a:hover {
    color: #ff9800;
}