body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url("../img/bglixi.png") center/100% no-repeat, #1c2033;;    
  }
  
  .game-container {
    text-align: center;
    border: 2px solid #333;
    padding: 20px;
    background: url("../img/bgr.webp") center/100% no-repeat, #1c203300;;    
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  #game-canvas-container {
    width: 100%;
    height: 300px;
    margin: 20px 0;
    border-radius: 10px;
}

.choices {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.choice {
  text-align: center;
}

.choice h3 {
  margin-bottom: 10px;
}

#player-choice, #computer-choice {
  font-size: 50px;
}
  
  #scoreboard {
    margin-top: 20px;
  }
  
  #result {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
  }